.main-container {
  min-height: 100vh;
  background: #F9F9F9;
  display: grid;
  grid-template-columns: 1fr 7fr;
  padding-top: 60px;
}

/* .main-content-wrapper {
  display: grid;
  grid-template-rows: 5fr 5fr;
} */